<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="../../public/site.webmanifest">
    <link rel="stylesheet" href="/site.css">
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">

    <title>Tune Charts</title>
</head>
<body>

   <div class="mainDiv">

        <header class="header">
            <h1 class="title"><a href="/">TUNE CHARTS</a></h1>
            <ul class="mainNav">
                <li><a href="about">ABOUT</a></li>
                <li><a href="/">CHARTS</a></li>
                <li><a href="profile">PROFILE</a></li>
                <li><a href="more">MORE</a></li>
            </ul>
        </header>

        

        <div class="mainContent">
           <h1>- TOP CHART'S -</h1>
            <%_ for (const song of songs) { _%>
                <%_ if(song.length) { _%>
                <%_ let minutes = Math.floor(song.length / 60) _%>
                <%_ let extraSeconds = song.length % 60 _%>
                <%_ minutes = minutes < 10 ? "0" + minutes : minutes; _%>
                <%_ extraSeconds = extraSeconds< 10 ? "0" + extraSeconds : extraSeconds; _%>
                <%_ let final = minutes + " : " + extraSeconds _%>
                <p class="mainP"><%= song.number %> . )&ensp;&ensp;  Song:&ensp; <%= song.name %> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Artist:&ensp; <%= song.artist %>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Album:&ensp; <%= song.album %>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Length:&ensp; <%= final %></p>
                <%_ } _%>
            <%_ } _%>
        </div>

        
   </div>
    
</body>

</html>